body{
  background-image: url("../Foto's/achtergrond_forum.jpg");
  margin: 0px;
  font-family:Verdana, Arial, serif, Arial black;
  font-weight: medium;
}

.header{
  background-color: mediumblue;
  padding: 80px;
  opacity: 0.4;
}

#header{
  background-color: white;
  margin-top: 0px;
  margin-left: 210px;
  padding: 50px;
  opacity: 0.8;
}


.Image{
  float:left;
  background-color: white;
  margin-top: 0px;
  padding: 50px;
  opacity: 0.7;
  text-align: left;
  width: 100%;

}
